.pay-thanks {
	@media ( max-width: 1110px ) {

		&__button {
			padding: 0 10px;
		}
	}

	@media ( max-width: 992px ) {
		background-size: contain;
	}

	@media ( max-width: 767px ) {

		&__txt {
			font-size: 7vw;
			line-height: 8vw;			
		}
	}

	@media ( max-width: 425px ) {

		&__button {
			font-size: 12px;
			max-width: 100%;
		}
	}
}






