.partners {

	@media ( max-width: 1199px ) {

		.owl-carousel .owl-nav {
			margin: 30px auto 40px;
		}

		&__button {
			margin-top: 0;
		}
	}

	@media ( max-width: 991px ) {

		&__partnersSlider {

			&-item {
				// height: 80px;

				img {
					// height: 100% !important;
				}
			}
		}

		&__partnersInfoSlider {

			&-item {
				// height: 160px;

				div {
					// height: 80px;

					img {
						// width: 100% !important;
					}
				}
			}
		}
	}

	@media ( max-width: 767px ) {
		&__title {
			&_small {
				font-size: 18px;
				margin-bottom: 15px;
			}
		}
	}

	@media ( max-width: 575px ) {
		&__title {
			&_small {
				font-size: 16px;
				margin-bottom: 15px;
			}
		}

		&__button {
			font-size: 11px;
		}
	}

	@media ( max-width: 425px ) {

		.owl-carousel .owl-stage-outer {
			padding-left: 1px;
		}
	}

	@media ( max-width: 360px ) {

		.container {
			padding-left: 0;
			padding-right: 0;
		}
	}

	@media ( max-width: 320px ) {
	}
}






