.about {
	background: url('../img/about/bg.png') no-repeat left 86% bottom 40px;
	border-top: 2px solid #9DB1CD;
	padding: 135px 0 135px;

	&__content {
		display: flex;
	}

	&__left {
		width: 50%;

		&-txt {
			font: 400 28px/1.5em 'Mont';
			max-width: 450px;
			margin-right: 30px;
		}
	}

	&__right {
		width: 50%;

		&-txt {
			font: 400 18px/1.5em 'Mont';
			margin-bottom: 25px;
			margin-top: 10px;
		}
	}
}
