@font-face {
    font-family: 'Mont';
    src: url('fonts/Mont-Heavy.eot');
    src: url('fonts/Mont-Heavy.eot?#iefix') format('embedded-opentype'),
         url('fonts/Mont-Heavy.woff2') format('woff2'),
         url('fonts/Mont-Heavy.woff') format('woff'),
         url('fonts/Mont-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('fonts/Mont-Light.eot');
    src: url('fonts/Mont-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/Mont-Light.woff2') format('woff2'),
         url('fonts/Mont-Light.woff') format('woff'),
         url('fonts/Mont-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('fonts/Mont-Regular.eot');
    src: url('fonts/Mont-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Mont-Regular.woff2') format('woff2'),
         url('fonts/Mont-Regular.woff') format('woff'),
         url('fonts/Mont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('fonts/Mont-SemiBold.eot');
    src: url('fonts/Mont-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Mont-SemiBold.woff2') format('woff2'),
         url('fonts/Mont-SemiBold.woff') format('woff'),
         url('fonts/Mont-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mont-HeavyDEMO';
    src: url('fonts/Mont-HeavyDEMO.eot');
    src: url('fonts/Mont-HeavyDEMO.eot?#iefix') format('embedded-opentype'),
         url('fonts/Mont-HeavyDEMO.woff2') format('woff2'),
         url('fonts/Mont-HeavyDEMO.woff') format('woff'),
         url('fonts/Mont-HeavyDEMO.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

