.price-online {

	@media ( max-width: 1080px ) {
		&__info{
			display: flex;
			flex-direction: column;
		}
		&__title{
			text-align: left;
			margin-bottom: 35px;
		}
		&__scheme{
			margin-bottom: 35px;
		}
	}

	@media ( max-width: 992px ) {
		
		&__tnx{
			padding: 75px 0;
			&-title{
				font-size: 34px;
				line-height: 43px;
			}
			&-description{
				font-size: 22px;
				line-height: 135%;
			}
			.price-online__title {
				padding-top: 75px;
			}
		}
	}

	@media ( max-width: 768px ) {

		padding-bottom: 50px;
		&__content {
			&-bottom {
				justify-content: space-between;
				.price-online__item {
					margin-right: 0;
				}
			}
		}
		&__item {
			width: 49%;

			&_wide {
				width: 49%;
				flex-direction: column;
				justify-content: space-between;
			}

			&-title {
	
				&_wide {
					width: 100%;
					border-bottom: 0;
				}

				&-img {

					&_wide {
						width: 35%;
						order: 1;
						border-right: 0;
						border-bottom: 2px solid #2B79E5;
					}
				}
			}

			&-head {
				width: 65%;
				padding: 0;
				border-right: 2px solid #2B79E5;
				border-bottom: 2px solid #2B79E5;
				text-align: center;
			}

			&-list {
	
				&_wide {
					display: none;
				}

				&_hidden {
					display: block;
				}
			}

			&-price {
				justify-content: flex-start;
				align-items: flex-start ;
				width: 100%;
				padding-bottom: 60px;
			}
		}

		

		
		
		&__scheme {
			font-size: 18px;
		}	
	}


	@media ( max-width: 576px ) {
		&__tnx{
			padding: 90px 0;
			&-title{
				font-size: 20px;
				line-height: 23px;
			}
			&-description{
				font-size: 18px;
				line-height: 135%;
			}
		}
		.price-online__title {
			padding-top: 40px;
		}
	}

	@media ( max-width: 450px ) {

		&__item {
			width: 100%;
		}
	}

	@media ( max-width: 375px ) {

		&__item {

			&-price {padding: 0 40px 20px;}

		}
	}

	@media ( max-width: 320px ) {
	}
}






