.form_reg_3 {


	@media ( max-width: 992px ) {

		.form {

			&__button {
				max-width: 230px;
			}
		}
	}

	@media ( max-width: 800px ) {
		.form__item {
			max-width: inherit;
			width: 100%;
		}

	}

	@media ( max-width: 575px ) {

		.form {
	
		  &__content {
			  padding: 30px 30px 15px;
		  }

		  &__input {
			  height: 35px;
		  }
		}
		.form__title{
			font-size: 20px;
			line-height: 130%;
		}
	}
}

