<?php

{% set data = [

	{
		id: "filatov",
		name: "Алексей Филатов",
		description: "",
		img: "speakers/filatov.jpg"
	},
	{
		id: "goncharov",
		name: "Геннадий Гончаров",
		description: "",
		img: "speakers/goncharov.jpg"
	},
	{
		id: "spirande",
		name: "Марина Спиранде",
		description: "",
		img: "speakers/spirande.jpg"
	},
	{
		id: "litvinov",
		name: "Роман Литвинов",
		description: "",
		img: "speakers/litvinov.jpg"
	},
	{
		id: "borisova",
		name: "Светлана Борисова",
		description: "",
		img: "speakers/borisova.jpg"
	},
	{
		id: "venerina",
		name: "Яна Венерина",
		description: "",
		img: "speakers/venerina.jpg"
	},
	{
		id: "starchenko",
		name: "Мария Старченко",
		description: "",
		img: "speakers/starchenko.jpg"
	},
	{
		id: "radaeva",
		name: "Ольга Радаева",
		description: "",
		img: "speakers/radaeva.jpg"
	},
	{
		id: "kuyava",
		name: "Олег Куява",
		description: "",
		img: "speakers/kuyava.jpg"
	}
	,
	{
		id: "hichenko",
		name: "Анастасия Хищенко",
		description: "",
		img: "speakers/hichenko.jpg"
	},
	{
		id: "vasilev",
		name: "Артем Васильев",
		description: "",
		img: "speakers/vasilev.jpg"
	},
	{
		id: "lebedev",
		name: "Михаил Лебедев",
		description: "",
		img: "speakers/lebedev.jpg"
	}
	
]
%}


{# Резерв #}
{#

,
	{
		id: "dispenza",
		name: "Джо Диспенза",
		description: "Исследователь, лектор, корпоративный консультант, писатель",
		img: "headliners/dispenza.jpg"
	}
	,
	{
		id: "rouch",
		name: "Майкл Роуч",
		description: "Монах, заработавший миллиардное состояние",
		img: "headliners/rouch.jpg"
	}
	,
	{
		id: "yagodkin",
		name: "Николай Ягодкин",
		description: "Эксперт по&nbsp;методикам развития когнитивных способностей. Основатель Центра образовательных технологий Advance",
		img: "speakers/yagodkin.jpg"
	}
	,
	{
		id: "kazanceva",
		name: "Ася Казанцева",
		description: "Научный журналист, популяризатор большой науки и&nbsp;лауреат премии &laquo;Просветитель&raquo;. Автор книги &laquo;Кто&nbsp;бы мог подумать! Как мозг заставляет нас делать глупости&raquo;",
		img: "speakers/kazanceva.jpg"
	}
	,
	{
		id: "labkovskij",
		name: "Михаил Лабковский",
		description: "Российский психолог, писатель, юрист, телеведущий и&nbsp;радиоведущий.",
		img: "headliners/labkovskij.jpg"
	}
	,
	{
		id: "keho",
		name: "Джон Кехо",
		description: "Преподаватель, писатель, активный и&nbsp;сознательный член общества. Автор книги &laquo;Сила ума&raquo;, которая стала мировым бестселлером и&nbsp;переведена на&nbsp;многие языки.",
		img: "headliners/keho.jpg"
	}
	,
	{
		id: "skirnevskij",
		name: "Кеша Скирневский",
		description: "ПСпикер TEDx, основатель Zebrainy, автор Комплементарного интеллекта (CQ) и&nbsp;Бытовой модели мышления, автор Youtube канала &laquo;От&nbsp;мозга к&nbsp;счатью&raquo;",
		img: "speakers/skirnevskij.jpg"
	}
	,
	{
		id: "bukreev",
		name: "Никита Букреев",
		description: "Генеральный директор лаборатории сенсорного нейромаркетинга ООО &laquo;СЕНСОРИЛАБ&raquo;<br />
		Основатель научного фестиваля &laquo;НА&nbsp;ГРАНИ НАУКИ&raquo;<br />
		Исследователь в&nbsp;области мультисенсорного восприятия, социальной психологии обоняния и&nbsp;потребительских предпочтений.",
		img: "speakers/bukreev.jpg"
	}

#}
